{% extends 'layout.html' %}
{% load static %}
{% load permission %}

{% block title %}客户列表{% endblock %}

{% block css %}
    <style>
        .top-message {
            position: fixed;
            left: 0;
            right: 0;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            top: 0;
        }
    </style>
{% endblock %}


{% block content %}
    <div style="margin-bottom: 5px" class="clearfix">
        {% add_permission request 'customer_add'  %}


        {% if messages %}
        <div class="top-message">
            {% for obj in messages %}
                <div class="alert alert-{{ obj.level_tag }}">
                    {{ obj.message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}



        <div class="right">
            <form class="form-inline" method="get">
                <div class="form-group">
                    <input name="keyword" type="text" class="form-control" placeholder="请输入关键字" value="{{ keyword }}">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            管理员列表
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名(用户类型)</th>
            <th>手机号</th>
            <th>账户余额</th>
            <th>级别</th>
            <th>注册时间</th>
            <th>交易记录</th>
            <th>登录记录</th>
            <th>创建者</th>
            <th>重置密码</th>
            {% if request|has_permission:"customer_edit,customer_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_admin %}
            <tr row-id="{{ row.id }}">
                <td>{{ row.id }}</td>
                <td>{{ row.username }}  ({{ row.get_usertype_display }})</td>
                <td>{{ row.mobile }}</td>
                <td>{{ row.account }}</td>
                <td>{{ row.level.title }}（{{ row.level.percent }}%）</td>
                <td>{{ row.created_time|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <a href="{% url 'customer_charge' pk=row.id %}">交易记录</a>
                </td>
                <td>
                    <a href="{% url 'customer_login_log' pk=row.id %}">登录记录</a>
                </td>
                <td>{{ row.parent }}</td>
                <td>
                    <a href="{% url 'customer_reset' pk=row.id %}">重置密码</a>
                </td>
                {% if request|has_permission:"customer_edit,customer_delete" %}
                <td>
                    {% edit_permission request 'customer_edit' pk=row.id %}
                    {% delete_permission request 'customer_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            消费者列表
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名(用户类型)</th>
            <th>手机号</th>
            <th>账户余额</th>
            <th>级别</th>
            <th>注册时间</th>
            <th>交易记录</th>
            <th>登录记录</th>
            <th>创建者</th>
            <th>重置密码</th>
            {% if request|has_permission:"customer_edit,customer_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_customer %}
            <tr row-id="{{ row.id }}">
                <td>{{ row.id }}</td>
                <td>{{ row.username }}  ({{ row.get_usertype_display }})</td>
                <td>{{ row.mobile }}</td>
                <td>{{ row.account }}</td>
                <td>{{ row.level.title }}（{{ row.level.percent }}%）</td>
                <td>{{ row.created_time|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <a href="{% url 'customer_charge' pk=row.id %}">交易记录</a>
                </td>
                <td>
                    <a href="{% url 'customer_login_log' pk=row.id %}">登录记录</a>
                </td>
                <td>{{ row.parent }}</td>
                <td>
                    <a href="{% url 'customer_reset' pk=row.id %}">重置密码</a>
                </td>
                {% if request|has_permission:"customer_edit,customer_delete" %}
                <td>
                    {% edit_permission request 'customer_edit' pk=row.id %}
                    {% delete_permission request 'customer_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            供应商列表
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名(用户类型)</th>
            <th>手机号</th>
            <th>账户余额</th>
            <th>级别</th>
            <th>注册时间</th>
            <th>交易记录</th>
            <th>登录记录</th>
            <th>创建者</th>
            <th>重置密码</th>
            {% if request|has_permission:"customer_edit,customer_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_supplier %}
            <tr row-id="{{ row.id }}">
                <td>{{ row.id }}</td>
                <td>{{ row.username }}  ({{ row.get_usertype_display }})</td>
                <td>{{ row.mobile }}</td>
                <td>{{ row.account }}</td>
                <td>{{ row.level.title }}（{{ row.level.percent }}%）</td>
                <td>{{ row.created_time|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <a href="{% url 'customer_charge' pk=row.id %}">交易记录</a>
                </td>
                <td>
                    <a href="{% url 'customer_login_log' pk=row.id %}">登录记录</a>
                </td>
                <td>{{ row.parent }}</td>
                <td>
                    <a href="{% url 'customer_reset' pk=row.id %}">重置密码</a>
                </td>
                {% if request|has_permission:"customer_edit,customer_delete" %}
                <td>
                    {% edit_permission request 'customer_edit' pk=row.id %}
                    {% delete_permission request 'customer_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            客服列表
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>用户名(用户类型)</th>
            <th>手机号</th>
            <th>账户余额</th>
            <th>级别</th>
            <th>注册时间</th>
            <th>交易记录</th>
            <th>登录记录</th>
            <th>创建者</th>
            <th>重置密码</th>
            {% if request|has_permission:"customer_edit,customer_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_support %}
            <tr row-id="{{ row.id }}">
                <td>{{ row.id }}</td>
                <td>{{ row.username }}  ({{ row.get_usertype_display }})</td>
                <td>{{ row.mobile }}</td>
                <td>{{ row.account }}</td>
                <td>{{ row.level.title }}（{{ row.level.percent }}%）</td>
                <td>{{ row.created_time|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <a href="{% url 'customer_charge' pk=row.id %}">交易记录</a>
                </td>
                <td>
                    <a href="{% url 'customer_login_log' pk=row.id %}">登录记录</a>
                </td>
                <td>{{ row.parent }}</td>
                <td>
                    <a href="{% url 'customer_reset' pk=row.id %}">重置密码</a>
                </td>
                {% if request|has_permission:"customer_edit,customer_delete" %}
                <td>
                    {% edit_permission request 'customer_edit' pk=row.id %}
                    {% delete_permission request 'customer_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

    <ul class="pagination">
        {{ pager_string }}
    </ul>




<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="alert alert-danger alert-dismissible fade in" role="alert">

      <h4>是否确定要删除！</h4>
      <p>
        <button type="button" class="btn btn-danger" id="btnConfirmDelete">确 定</button>
        <button type="button" class="btn btn-default" id="btnCancelDelete">取 消</button>
          <span style="color: red" id="deleteError"></span>
      </p>
    </div>

  </div>
</div>



{##}
{#    {% include 'include/delete_modal.html' %}#}
{##}
{% endblock %}



{% block js %}


    <script>
    var DELETE_ID
    $(function (){
        bindDeleteEvent();
        bindConfirmDeleteEvent();
    })

    function bindDeleteEvent(){
        $('.btn-delete').click(function (){
            $("#deleteError").empty();

            $('#deleteModal').modal('show');
            var cid = $(this).attr('cid')
            DELETE_ID = cid
            console.log(cid);
        })

        $('#btnCancelDelete').click(function (){
            $('#deleteModal').modal('hide');
        })
    }

    function bindConfirmDeleteEvent(){
        $('#btnConfirmDelete').click(function (){
           console.log("确认删除!",DELETE_ID) ;

           $.ajax({
               url:'{% url 'customer_delete' %}',
               type:'GET',
               data:{cid:DELETE_ID},
               dataType:'JSON',
               success:function (res){
                   if (res.status){
                       //删除成功
                       //方式一：做页面刷新
                       //location.reload()
                       //方式二：找到当前数据所在行并删除
                       $("tr[row-id='" + DELETE_ID + "']").remove()
                       $('#deleteModal').modal('hide');

                   }else{
                       //删除失败
                       $("#deleteError").text(res.detail);
                   }
               }
           })
        });
    }



    function showDelete(){
        $('#deleteModal').modal('show');
    }


    setTimeout(function () {
            $(".top-message").addClass('hide');
        }, 5000);

    </script>



{% endblock %}
