{% extends 'layout.html' %}
{% load permission %}

{% block title %}客服和供应商及消费者等级列表{% endblock %}

{% block css %}
    <style>
        .top-message-error {
            position: fixed;
            left: 0;
            right: 0;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="margin-bottom: 5px">
        {% add_permission request 'level_add'  %}
    </div>

     {% if messages %}
        <div class="top-message-error">
            {% for obj in messages %}
                <div class="alert alert-{{ obj.level_tag }}">
                    {{ obj.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            消费者等级列表
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>折扣</th>
            <th>类型</th>
            {% if request|has_permission:"level_edit,level_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_customer %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.percent }}%</td>
                <td>{{row.get_level_type_display}}</td>
                 {% if request|has_permission:"level_edit,level_delete" %}
                <td>
                    {% edit_permission request 'level_edit' pk=row.id %}
                    {% delete_url_permission request 'level_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            供应商等级列表
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>折扣</th>
            <th>类型</th>
            {% if request|has_permission:"level_edit,level_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_supplier %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.percent }}%</td>
                <td>{{row.get_level_type_display}}</td>
                 {% if request|has_permission:"level_edit,level_delete" %}
                <td>
                    {% edit_permission request 'level_edit' pk=row.id %}
                    {% delete_url_permission request 'level_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            客服等级列表(用于标度客服每单的提成比例)
      </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>折扣</th>
            <th>类型</th>
            {% if request|has_permission:"level_edit,level_delete" %}
            <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in queryset_support %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title }}</td>
                <td>{{ row.percent }}%</td>
                <td>{{row.get_level_type_display}}</td>
                 {% if request|has_permission:"level_edit,level_delete" %}
                <td>
                    {% edit_permission request 'level_edit' pk=row.id %}
                    {% delete_url_permission request 'level_delete' pk=row.id %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>



{% endblock %}

{% block js %}
    <script>
        setTimeout(function () {
            $(".top-message-error").addClass('hide');
        }, 5000);
    </script>
{% endblock %}